* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat',arial, helvetica, sans-serif;
	font-size: 20px;
	overflow-x: hidden;

}

.container {
	width: calc(100vw - 200px);
	height: 100vh;
	margin-left: 200px;
	padding-left: 50px;	
	padding-top: 30px;
	
}

.home-area {
	display: flex;
	
}
.menuMobile {
	display: none;
	width: 88px;
	height: 88px;
	margin: 100px auto;
	position: relative;		
}
	.menuMobile label {
	width: 100%;
	height: 70%;
	background-color: transparent;
	position: absolute;
	transition: all .5s linear;
	z-index: 2;
}
#check {
	position: absolute;
	z-index: 1;
	display: none;
}
.menuMobile span {
	width: 50px;
	height: 6px;
	top: 30px;
	left: 20px;
	position: absolute;
	background-color: #FFAC41;
	transition: all .5s linear;
	border-radius: 5px;
}
.menuMobile span:before {
	content: '';
	width: 50px;
	height: 6px;
	bottom: -18px;
	position: absolute;
	background-color: #FFAC41;
	transition: all .5s linear;
 	border-radius: 5px;
}
.menuMobile span:after {
	content: '';
	width: 50px;
	height: 6px;
	top: -18px;
	position: absolute;
	background-color: #FFAC41;
	transition: all .5s linear;
	border-radius: 5px;
}

#check:checked ~ span {
	background-color: transparent;
	transition: all .0s linear;
}
#check:checked ~ span:before {
	transform: translate(0px, -18px) rotate(-45deg);
	background-color: red;
	width: 40px;
}
#check:checked ~ span:after {
	transform: translate(0px, 18px)rotate(45deg);
	background-color: red;
	width: 40px;
}
#check:checked ~ label {
	border-radius: 50%;
}
.menu-area {
	width: 200px;
	height: 100vh;
	background-color: rgba(0,0,0,0.1);
	position: fixed;
	z-index: 999;	
	border-right: 1px solid #000;
	display: flex;
	margin: auto;
	
}
.menu-background {
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: rgba(0,0,0,0.6);
}
.menu {
	width: 150px;
	height: 600px;
	margin: auto;
	padding-top: 70px;
	color: #000;
	
}

.menu-img {
	width: 150px;
	height: 150px;
	background-image: url(../images/foto21.jpg);
	background-size: cover; 
	background-position: center;
	border-radius: 50%;

}

.menu nav {
	margin-top: 40px;
	text-align: center;
}

.menu nav li {
	list-style: none;
	padding-top: 15px;
	font-weight: bold;
}
.menu nav li a {
	text-decoration: none;
	color: #FFF;
}
.menu nav li a:hover {
	color: #FFAC41;
	transition-duration: .5s;
}

.menu p {
	text-align: center;
	font-size: 13px;
	margin-top: 50px;
	color: #FFF;
}
.menu .social {
	display: flex;	
	margin: auto;
	max-width: 120px;
}
.social div {
	flex: 1;	
	margin: 5px;
	margin-top: 20px;
}
.social img {

}

.home {
	display: flex;
	background: linear-gradient(45deg, black, rgba(0,0,0,0.5));
	overflow: hidden;
	padding-left: revert;
	padding-top: 0px;
	border-bottom: 1px solid #000;
}
.home-area-total {
	
    justify-content: center;
    align-items: center;
    
}
.home-img {
	width: 150px;
	height: 150px;
	background-image: url(../images/foto21.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	display: none;
}
.home-name {
	width: 580px;
	line-height: 50px;
	position: absolute;
	padding-left: 50px;
	margin-top: 230px;

}

.home-name h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
	color: #000;

	padding: 40px;
}

.home-name h1:after {
	content: '|';
	margin-left: 5px;
	opacity: 1;
	animation: pisca 0.8s infinite;
}
@keyframes pisca {
	0%, 100% {
		opacity: 1;
	}
	50%{
		opacity: 0;
	}

}

.about-area {
	
	background: #323232;
	border-bottom: 1px solid #000;
	
}

.about-title {	
	font-weight: bold;
	color: #FFAC41;

}

.about-underline{
	width: 45px;
	height: 5px;
	border-radius: 2px;
	background-color: #FFAC41;
	margin-top: 5px;
}
.about-me-title{
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
	
}
.about-me-description{
	padding-top: 150px;
	font-size: 18px;
	width: 800px;
	height: auto;
	line-height: 25px;
	color: #000;
	text-align: justify;
	font-weight: 600;
		
}





.portfolio-area {
	background-color: #323232;
	border-bottom: 1px solid #000;
}
.portfolio-title {
	font-weight: bold;
	color: #FFAC41;	
}

.portfolio-underline{
	width: 45px;
	height: 5px;
	border-radius: 2px;
	background-color: #FFAC41;
	margin-top: 5px
}
.portfolio-title-me {
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
}
.portfolio-projects-area {
	width: calc(100% - 50px);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.portfolio-projects {
	display: flex;
	width: 80%;
	height: 370px;

}
.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
	margin: 10px;
}
.open-div {
	
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #000;	
	border-radius: 20px;
	margin-bottom: 1px;
	color: #000;
	height: 180px;
	width: 100%;
	text-align: center;
	padding-top: 90px;
	height: 180px;
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	box-shadow: 0px 0px 10px #000;

}
.open-div a {
	padding-bottom: 40px
}
.open-div span {
	font-size: 13px;
	cursor: pointer;
	text-shadow: none;
	color: #FFF;
	display: flex;
	margin-left: 10px;
	width: auto;
	display: none;
}
.hidden-div {
	
	height: 160px;
	background-color: #000;
	border: 1px solid #000;	
	border-radius: 20px;
	margin-top: 1px;
	color: #FFF;
	overflow: hidden;
	clear: both;
	width: 100%;
	padding-left: 15px;
	padding-top: 15px;
	font-size: 15px;
	display: none;

}
.hidden-div p {
	padding-bottom: 90px;
}
.hidden-div button {
	width: 60px;
	height: 23px;
	border: 1px solid #FFF;
	border-radius: 10px;
	outline: none;	
}
.hidden-div button:hover {
	background-color: #FFAC41;
	transition: .5s;	
	font-weight: 700; 
}
.projects .open-div:hover {
	background-color: #FFAC41;
	transition: .5s;
	text-shadow: 5px 6px 3px rgba(0,0,0,0.6);	
	font-weight: 700;
	
}

.projects div a {
	text-decoration: none;
	font-size: 20px;
	color: #FFF;
	pointer-events: none;
}

.tecnologies-area {
	background-color: #323232;
	border-bottom: 1px solid #000;
}
.tecnologies-title {
	
	font-weight: bold;
	color: #FFAC41;	
}

.tecnologies-underline{
	width: 45px;
	height: 5px;
	border-radius: 2px;
	background-color: #FFAC41;
	margin-top: 5px
}

.tecnologies-area-study {
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
}
.tecnologies-area-general {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 70px;
}
.learned {
	
}
.learned-title{
	display: flex;
	margin-bottom: 15px;
}

.learned-active {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #FFAC41;
}
.learned span {
	margin-left: 10px;
	font-weight: bold;
	font-size: 17px;
}
.learned img {
	margin: 7px;
}
.learned img:hover {
	transition: .5s;
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
	border-radius: 7px;
}

.learning {
	margin-top: 70px;
}

.learning-title{
	display: flex;
	margin-bottom: 15px;
}
.learning-active {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #CCC;
}
.learning span {
	margin-left: 10px;
	font-weight: bold;
	font-size: 17px;
}
.learning img {
	margin: 7px;
}
.learning img:hover {
	transition: .5s;
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
	border-radius: 7px;
}


.contacts-area {
	background: #323232;
	
}
.contacts-title {
	
	font-weight: bold;
	color: #FFAC41;	
}
.contacts-underline{
	width: 45px;
	height: 5px;
	border-radius: 2px;
	background-color: #FFAC41;
	margin-top: 5px
}
.contacts-tile-information{
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
}





.contant {
	display: flex;
	justify-content: center;
	margin-top: 70px;
	padding-right: 50px;
}
.contato {
	width: 100%;
	max-width: 500px;
	background-color: rgba(0,0,0,0.3);
    padding: 15px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.contato h3 {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.field {
	padding: 10px;
	margin-bottom: 15px;
	border: 0px;
	border-radius: 5px;
	font-size: 16px;
	background-color: rgba(0,0,0,0.5);
	outline: none;
	color: #FFF;
}
.submit {
	color: #323232;
}
.submit:hover {
	color: #FFAC41
}

::-webkit-input-placeholder{
	color: #FFAC41;
	font-weight: normal;

}

.field:focus {
	border: 1px solid #FFAC41;
	border-color: #FFAC41;
	box-shadow: 0 0 8px #FFAC41;
	transition: .3s;
	color: #FFAC41;
}
.contacts-cel {
	display: flex;
	justify-content: center;
	margin-top: -7px;
	height: 30px;
}

.contacts-cel a:first-child {
	margin-right: 5px;
	height: auto;
	display: flex;

}
.barra {
	height: 30px;
	width: 2px;
	background-color: #000;
}
#icone-telegram {
	margin-left: 5px;
	display: flex;

}
.contacts-cel a img {
	width: 27px;
	height: auto;
	margin: auto;
}
textarea {
	height: 150px;

}

.rodape {
	height: auto;
	background-color: #000;
	color: #FFF;
	font-size: 12px;
	text-align: center;
}

/*Responsivo para tablet*/

@media (min-width: 450px) and (max-width: 800px) {
	.menu-area {
		right: -200px;
		background-color: rgba(1,1,1,0.1);
		transition: .5s;	
	}
	.menu-img {
		display: none;
	}
	.menuMobile {
		display: flex;
		position: absolute;
		z-index: 999;
		position: fixed;
		margin-top: 15px;
    	right: 10px;
    			
	}
	.menu nav {
		margin-top: 40px;
		text-align: center;
	}

	.menu nav li {
		padding-top: 20px;
		font-size: 25px;
	}
	.menu p {
		
		font-size: 15px;
		
	}
	.menu .social {
		display: flex;	
		margin: auto;
		max-width: 120px;
	}
	.social div {
		flex: 1;	
		margin: 5px;
		margin-top: 20px;
	}
	.home {		
		display: flex;
		justify-content: center;
    	
    	padding-left: 0px;
    	padding-top: 0px;
    	
	}
	.home-area-total {
		
	    justify-content: center;
	    align-items: center;
	    width: 500px;
	    height: 100%;
	    position: absolute;
	    flex-direction: column;
	}
	
	.home-img {
		display: flex;
		width: 280px;
		height: 280px;
	    		
		
	}
	.home-img-area {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
    	margin-top: 100px;
	}
	.home-name {
		margin-top: 0px;
		padding-left: 0px;
		max-width: 500px;		
		position: initial;
	}
	.home-name h1 {
		font-size: 30px;
		padding: 0px;
	}
	.container {
		width: 100vw;
		height: 100vh;
		margin-left: 0px;	
		padding-left: 0px;
		font-size: 18px;
	}

	/*About*/

	.about-title {
		margin-left: 30px;
	}
	.about-underline{
		width: 40px;
		margin-left: 30px;
	}
	.about-me-title {
    	font-size: 16px;
    	padding-top: 14px;
    	margin-left: 30px;
	}
	.about-me {
		display: flex;
		max-width: 500px;
		height: auto;
		margin: auto;
		margin-top: -60px;
	}
	.about-me-description {
		font-size: 15px;   	
    	padding-top: 0px;
    	margin-top: 100px;
	}

	/*Portifolio*/

	.portfolio-area {
		padding-left: 0px;
	}
	.portfolio-title {
		margin-left: 30px;
	}
	.portfolio-underline {
		width: 40px;
		margin-left: 30px;
	}
	.portfolio-title-me {
		font-size: 16px;
    	padding-top: 14px;
    	margin-left: 30px;
	}
	.portfolio-projects-area {
		width: 100%;

	}
	.portfolio-projects {   
    	width: 95%;
        margin: auto;
    	margin-top: 40px;
	}
	.projects .open-div:hover {
	background-color: rgba(0,0,0,0.5);
	}


	/*tecnologias*/

	.tecnologies-title{
		margin-left: 30px;
	}
	.tecnologies-underline {
		width: 40px;
		margin-left: 30px;
	}
	.tecnologies-area-study {
		font-size: 16px;
    	padding-top: 14px;
    	margin-left: 30px;
	}
	.tecnologies-area-general {
		margin-top: 45px;
		margin-left: 30px;
	}
	.learned {
		margin-left: 10px;
	}
	.learned span {
		font-size: 16px;
	}
	.learned img {
    	margin: 5px;
    	width: 90px;
    	height: auto;
	}
	.learning {
		margin-top: 45px;
		margin-left: 10px;
	}
	.learning span {
		font-size: 16px;
	}
	.learning img {
    	margin: 5px;
    	width: 90px;
    	height: auto;
	}

	/*Contacts*/

	.contacts-area {
		padding-left: 0px;
	}
	.contacts-title {
		margin-left: 30px;
	}
	.contacts-underline {
		margin-left: 30px;
		width: 40px;
	}
	.contacts-tile-information {
		margin-left: 30px;
		font-size: 16px;
    	padding-top: 14px;
	}
	.contant {
		padding-right: 0px;
		margin-top: 40px;
	}
	.contato {
		max-width: 400px;
		padding-top: 6px;
		padding-bottom: 5px;
	}
	.contato h3 {
		font-size: 18px;
	}
	.field {
		font-size: 14px;
		margin-bottom: 10px;
	}

	/*Rodape*/

	.rodape {
		height: auto;   	
    	font-size: 10px;
    	padding-left: 0px;
    	padding-top: 10px;
	}
}






/*Responsivo para celular*/ 
@media  (max-width: 450px) {
	.menu-area {
		right: -200px;
		background-color: rgba(0,0,0,0.0);
		transition: .5s;
		
	}
	.menu-img {
		display: none;
	}
	.menuMobile {
		display: flex;
		position: absolute;
		z-index: 999;
		position: fixed;
		margin-top: 15px;
    	right: 10px;
    			
	}
	.menu nav {
		margin-top: 40px;
		text-align: center;
	}

	.menu nav li {
		padding-top: 20px;
		font-size: 25px;
	}
	.menu p {
		
		font-size: 15px;
		
	}
	.menu .social {
		display: flex;	
		margin: auto;
		max-width: 120px;
	}
	.social div {
		flex: 1;	
		margin: 5px;
		margin-top: 20px;
	}
	
	.home-area {
		height: 100vh;
	}
	.home-area-total {
		
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    flex-direction: column;
	}
	
	.home {		
		display: flex;
		justify-content: center;    	
    	padding-left: 0px;
    	padding-top: 0px;   	
	}
	.home-img {
		display: flex;
		width: 250px;
		height: 250px;
	       	
	}
	.home-img-area {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
    	margin-top: 100px;
	}
	.home-name {
		padding-left: 0px;
		max-width: 360px;
		margin-top: 0px;
		position: initial;
		margin: auto;
	
	}
	.home-name h1 {
		font-size: 30px;
		padding: 0px;
	}


	

	/*About*/

	.about-area {
		height: 100%!important;
	}
	.about-title {
		margin-left: 30px;
	}
	.about-underline{
		width: 40px;
		margin-left: 30px;
	}
	.about-me-title {
    	font-size: 16px;
    	padding-top: 14px;
    	margin-left: 30px;
	}
	.about-me {
		display: flex;
		max-width: 318px;
		height: auto;
		margin: auto;
		
	}
	.about-me-description {
		font-size: 15px;
    	text-align: justify;
    	padding-top: 0px;
    	margin-top: 20px;
    	margin-bottom: 20px;
	}

	/*Portifolio*/

	.portfolio-area {
		height: 100%!important;
	}
	.portfolio-title {
		margin-left: 30px;
	}
	.portfolio-underline {
		width: 40px;
		margin-left: 30px;
	}
	.portfolio-title-me {
		font-size: 16px;
    	padding-top: 14px;
    	margin-left: 30px;
	}
	.portfolio-projects-area {
		width: 100%;
		height: 100%;
	}

	.portfolio-projects {
		display: flex;
    	flex-direction: column;
    	height: 100%;
    	margin-top: 20px;
   	 	margin-bottom: 20px;
	}
	.projects {
		margin: 10px;
	}
	.projects .open-div:hover {
	background-color: rgba(0,0,0,0.5);
	}

	/*tecnologias*/

	.tecnologies-title {
		margin-left: 30px;
	}
	.tecnologies-underline {
		width: 40px;
		margin-left: 30px;
	}
	.tecnologies-area-study {
		font-size: 16px;
    	padding-top: 14px;
    	margin-left: 30px;
	}
	.tecnologies-area-general {
		margin-top: 60px;
		margin-left: 30px;
	}
	.learned span {
		font-size: 15px;
	}
	.learned img {
    	margin: 5px;
    	width: 65px;
    	height: auto;
	}
	.learning {
		margin-top: 60px;
		margin-bottom: 30px;
	}
	.learning span {
		font-size: 15px;
	}
	.learning img {
    	margin: 5px;
    	width: 65px;
    	height: auto;
	}

	/*Contacts*/

	.contacts-title {
		margin-left: 30px;
	}
	.contacts-underline {
		margin-left: 30px;
		width: 40px;
	}
	.contacts-tile-information {
		margin-left: 30px;
		font-size: 16px;
    	padding-top: 14px;
	}
	.contant {
		padding-right: 0px;
		margin-top: 30px;
		padding: 20px;
	}
	.contato {
		max-width: 400px;
		padding-top: 6px;
		padding-bottom: 5px;
	}
	.contato h3 {
		font-size: 18px;
	}
	.field {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.container {
		width: 100vw;
		height: 100vh;
		margin-left: 0px;	
		padding-left: 0px;
		font-size: 18px;
	}

	/*Rodape*/

	.rodape {
		height: auto;   	
    	font-size: 10px;
    	padding-left: 0px;
    	padding-top: 10px;
	}
}