* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat',arial, helvetica, sans-serif;
	font-size: 20px;
	overflow-x: hidden;
}

.container {
	width: calc(100vw - 200px);
	height: 100vh;
	margin-left: 200px;
	padding-left: 50px;	
}

.home-area {
	
	background-color: #999;
	display: flex;
	

}

.menu-area {
	width: 200px;
	height: 100vh;
	background-color: #000;
	position: fixed;
	z-index: 999;	
}

.menu {
	width: 150px;
	height: 600px;
	margin: auto;
	margin-top: 70px;
	color: #000;

}

.img {
	width: 150px;
	height: 150px;
	background-image: url(../images/20170129_120011.jpg);
	background-size: cover; 
	background-position: center;
	border-radius: 50%;

}

.menu nav {
	margin-top: 40px;
	text-align: center;
}

.menu nav li {
	list-style: none;
	padding-top: 15px;
	font-weight: bold;
}
.menu nav li a {
	text-decoration: none;
	color: #FFF;
}
.menu nav li a:hover {
	color: #55BD36;
	transition-duration: .5s;
}

.menu p {
	text-align: center;
	font-size: 13px;
	margin-top: 50px;
	color: #FFF;
}
.menu .social {
	display: flex;
}
.social div {
	flex: 1;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}
.social img {
	width: 30px;
	height: auto;
	border-radius: 50%;
	margin: auto;
	display: flex;
	
}

.home {
	display: flex;


}

.home-name {
	width: 500px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 50px;

}
.home-name h1 {
	text-align: center;
	font-weight: bolder;
	color: #000;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 40px;
}


.about-area {
	background-image: url(../images/home.svg);
	background-size: cover;
	background-position: center;
	padding-top: 30px;
}
.about-title {	
	font-weight: bold;

}
.about-title:hover {
	color: #55BD36;
}
.about-underline{
	width: 45px;
	height: 5px;
	border-radius: 2px;
	background-color: #55BD36;
}
.about-me-title{
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
	
}
.about-me-description{
	padding-top: 150px;
	font-size: 18px;
	width: 800px;
	height: auto;
	font-weight: bold;
	line-height: 25px;
		
}





.portfolio-area {
	background-color: #BD2B2B;
	padding-top: 30px;
}
.portfolio-title {
	font-weight: bold;	
}
.portfolio-title:hover {
	color: #55BD36;
}
.portfolio-underline{
	width: 45px;
	height: 5px;
	border-radius: 2px;
	background-color: #55BD36;
}
.portfolio-title-me {
	font-size: 18px;
	font-weight: bold;
	padding-top: 15px;
}
.portfolio-projects-area {
	width: calc(100% - 50px);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.portfolio-projects {
	display: flex;
	width: 80%;
	height: 370px;

}
.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
	margin: 10px;
}
.open-div {
	
	background-color: #000;
	border: 1px solid #000;	
	border-radius: 20px;
	margin-bottom: 1px;
	color: #000;
	height: 180px;
	width: 100%;
	text-align: center;
	padding-top: 90px;
	height: 180px;
	position: relative;
	display: flex;
	flex-direction: column;

}
.open-div a {
	padding-bottom: 40px
}
.open-div span {
	font-size: 13px;
	cursor: pointer;
	text-shadow: none;
	width: 100px;
}
.hidden-div {
	
	height: 160px;
	background-color: #000;
	border: 1px solid #000;	
	border-radius: 20px;
	margin-top: 1px;
	color: #FFF;
	overflow: hidden;
	clear: both;
	width: 100%;
	padding-left: 15px;
	padding-top: 15px;
	font-size: 15px;
	display: none;

}
.hidden-div p {
	padding-bottom: 90px;
}
.hidden-div button {
	width: 60px;
	height: 23px;
	border: 1px solid #FFF;
	border-radius: 10px;	
}
.hidden-div button:hover {
	background-color: #55BD36;
	transition: .5s;
	
	font-weight: 700; 
}
.projects .open-div:hover {
	background-color: #999;
	transition: .5s;
	text-shadow: 5px 6px 3px rgba(0,0,0,0.6);	
	font-weight: 700;
	
}

.projects div a {
	text-decoration: none;
	font-size: 20px;
	color: #FFF;
	pointer-events: none;
}

.tecnologies-area {
	background-color: green;
	padding-top: 30px;
}
.tecnologies-title {
	
	font-weight: bold;
	color: #000;	
}
.tecnologies-title:hover {
	color: #55BD36;
}
.tecnologies-underline{
	width: 45px;
	height: 5px;
	border-radius: 2px;
	background-color: #55BD36;
}

.tecnologies-area-study {
	
	
}











.contacts-area {
	background-color: #333;
	padding-top: 30px;
}
.contacts-title {
	
	font-weight: bold;
	color: #000;	
}
.contacts-title:hover {
	color: #55BD36;
}
.contacts-underline{
	width: 45px;
	height: 5px;
	border-radius: 2px;
	background-color: #55BD36;
}

.contant {
	display: flex;
	justify-content: center;
}
.contato {
	width: 100%;
	max-width: 500px;
}
.form {
	display: flex;
	flex-direction: column;
}
.field {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #DDD;
	border-radius: 5px;
	font-size: 16px;
}
textarea {
	height: 150px;

}

.rodape {
	height: 50px;
	background-color: #000;
	color: #FFF;
}